fieldset img {
  width: 25%;
  border: 2px solid black;
  margin: 3%;
}

fieldset {
  width: 75%;
  margin: auto;
}

canvas {
  width: 900px;
  height: 450px;
  margin: auto;
  border: 2px solid black;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}
